.shopping_list.json
ip_bans.yaml
secrets.yaml
.homekit
.homekit.state
.git-credentials
.storage
.ios.conf
.google.token
home-assistant.log
known_devices.yaml
custom_components
backup
backups
.cache
.homeassistant
